doctype html

html
	head
		script(src="https://code.jquery.com/jquery-1.11.3.min.js" defer="defer")
		script(type="text/javascript", src="js/parallax.min.js" defer="defer")
		script(type="text/javascript", src="js/photoswipe.min.js" defer="defer")
		script(type="text/javascript", src="js/photoswipe-ui-default.min.js" defer="defer")
		script(type="text/javascript", src="js/popup.js" defer="defer")
		link(rel="icon" type="image/png" href="icon_color.png")
		link(rel="stylesheet", type="text/css", href="style/style.css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(charset="UTF-8")
		meta(name='description', content='Валка коронирование спил деревьев, дробление пней в по всему Крыму: Алушта, Бахчисарай, Белогорск, Джанкой, Евпатория, Керчь, Саки, Севастополь, Симферополь, Феодосия, Ялта') 
		title Валка

	body
		#wrap
			.parallax-window(data-parallax="scroll" data-image-src="https://lh3.googleusercontent.com/-NifB1g-AqRQ/VUmW3IaJR_I/AAAAAAAArWQ/Luw1CYaKt-0/w3840-h2400/log_stump_bark_light_49222_3840x2400.jpg")
				#header-wrap.page 

					#header.grid.row.items-stretch.s10-12(itemtype="http://schema.org/Organization" itemscope="")
						#menu.grid.row.items-stretch.s2-5
							a.grid.row.items-center(href="./")
								span Главная
						#phone.s3-5.mobile(itemprop="telephone")
							a(href="tel:89780166572") 8 (978) 016 65 72

					#title
						a.nomobile(href="tel:89780166572") 8 (978) 016 65 72
						.big Спил деревьев
						.small Пилим деревья в Крыму.

				#body-wrap.page
					#body.grid.column.s8-12
						.post.markdown-body
							include:supermarked content/examples.md
			
			.parallax-window(data-parallax="scroll" data-image-src="img/wood-texture.jpg")
				#example-wrap.page
					#examples.grid.row.s10-12(itemscope itemtype="http://schema.org/ImageGallery")
						include content/examples.jade
						- each item in examples
							figure.s1-3.example.grid.row.items-center(itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject")
								a( href=item.previewImage itemprop="contentUrl" data-gallery=item.images)
									img(src=item.previewImage width="128px" height="128px" itemprop="thumbnail" alt="[фото]")
								figcaption.text(itemprop="caption description")!= item.text

				#footer-wrap.page
					#footer.grid.row.content-around.items-center.s3-3
						a.lampa.grid.content-center.items-center(href="https://lampa.cc/?from=valka")
							| Веб-студия lampa.cc
						a.nomobile(href="tel:89780166572") Звоните 8 (978) 016 65 72
						a.vk.grid.content-center.items-center(href="https://vk.com/spilcrimea")
							img(src="img/vk-32.png")
							| Мы вконтакте

		include photoswipe.jade