doctype html

html
	head
		script(src="https://code.jquery.com/jquery-1.11.3.min.js" defer="defer")
		script(type="application/javascript", src="js/parallax.min.js" defer="defer")
		link(rel="stylesheet", type="text/css", href="style/style.css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(charset="UTF-8") 
		title Валка

	body
		div#wrap
			div.parallax-window(data-parallax="scroll" data-image-src="https://lh3.googleusercontent.com/-NifB1g-AqRQ/VUmW3IaJR_I/AAAAAAAArWQ/Luw1CYaKt-0/w3840-h2400/log_stump_bark_light_49222_3840x2400.jpg")
				div#header-wrap.page 
					div#title
						div.big Спил деревьев
						div.small Пилим деревья в Крыму.

					div#header.grid.row.items-stretch.s10-12
						div#menu.grid.row.items-stretch.s2-5
							a.grid.row.items-center(href="#")
								div Главная
							a.grid.row.items-center(href="#")
								div Примеры
							a.grid.row.items-center(href="#")
								div Стоимость
						div#phone.s3-5
							span 8 (800) 555-35-35

				div#body-wrap.page
					div#body.grid.column.s8-12
						div.post.markdown-body
							include:supermarked content/index.md
			
			div.parallax-window(data-parallax="scroll" data-image-src="img/wood-texture.jpg")
				div#review-wrap.page
					div#reviews.grid.row.s3-3
						include content/comments.jade
						- each item in comments
							div.review.grid.row.items-center
								img(src=item.image width="128px" height="128px")
								div.text!= item.text

				div#phone-again-wrap.page
					div#phone-again.grid.row.content-center.s3-3
						span.text Звоните,
						span.number 8 (800) 555-35-35

				div#footer-wrap.page
					div#footer.grid.row.content-center.s3-3
						span Копирайт (c) 1991, html 1.0
