doctype html

html(⚡)
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui")
		// link(rel="stylesheet" type="text/css" href="../style/markdown.css")
		// link(rel="stylesheet" type="text/css" href="../style/mobile.css")
		style
			include ../style/markdown.css
			include ../style/mobile.css
		script(src="https://cdn.ampproject.org/v0.js" async)
		script(src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js" async custom-element="amp-fit-text")
		style
			| body {opacity: 0; margin: 0}
		noscript
			style
				| body {opacity: 1}
		title Валка и спил деревьев любой сложности в Крыму.
	body
		header
			header
				h1 Спил деревьев
				h2 пилим деревья в Крыму.
				h2 
					a.nomobile(href="tel:89780166572") 8 (978) 016 65 72

			nav
				a(href="./") ГЛАВНАЯ
				a(href="./examples.html") ПРИМЕРЫ РАБОТ
			#shadow
		main
			article.markdown-body
				include:supermarked ../content/index.md
			article.comments
				include ../content/comments.jade
				- each item in comments
					figure
						// amp-img(src=item.image layout="responsive" height=1 width=1)
						figcaption!= item.text

		footer
			a.nomobile(href="tel:89780166572") Звоните 8 (978) 016 65 72
			br
			a.vk(href="https://vk.com/spilcrimea")
				Мы вконтакте 
				img(src="../img/vk-32.png")
			br
			a.lampa(href="https://lampa.cc/?from=valka")
				Веб-студия &nbsp;
				span.underline lampa.cc
			br