-
	comments = [
		{
			image: 'img/user.png',
			text: '<b>Виктор Титов</b><br>Все отлично. Очень быстро спилили тополь в ...Городе.... Правда я боялся, что повредят дома, но ребята справились и сделали все весьма чисто.'
		},
		{
			image: 'img/user.png',
			text: '<b>Петр Малов</b><br>Дерево в моем дворе могло оборвать провода. По началу, думал спилить его самостоятельно, но знакомый посоветовал эту компанию. Позвонил им и не зря, ребята пригнали автовышку и все чисто выполнили за небольшую плату.'
		},
		{
			image: 'img/user.png',
			text: '<b>Евгений Степанов</b><br>'
		}
	]