-
	var examples = [
		{
			previewImage: 'img/Galery/1.jpg',
			text: 'Наш секс-символ грызет непокорные пни на завтрак.',
			
			/**
			 * Параметры изображений:
			 *  w - ширина
			 *  h - высота
			 *  src - файл
			 *  msrc - сжатый файл (10 шакалов из 10)
			 *  title - описание
			 */

			images: [
				{
					w: 453,
					h: 604,
					src: 'img/Galery/1.jpg',
					mobileSrc: '../img/Galery/1.jpg'
				}
			]
		},
		{
			previewImage: 'img/Galery/2.jpg',
			text: 'Обрезка деревьев в Ялте, качественно и безопасно.',
			images: [
				{
					w: 1280,
					h: 853,
					src: 'img/Galery/2.jpg',
					mobileSrc: '../img/Galery/2.jpg'
				}
			]
		},
		{
			previewImage: 'img/Galery/3.jpg',
			text: 'Спил черешни в Симферополе.',
			images: [
				{
					w: 1280,
					h: 960,
					src: 'img/Galery/3.jpg',
					mobileSrc: '../img/Galery/3.jpg'
				}
			]
		},
		{
			previewImage: 'img/Galery/4.jpg',
			text: 'Освобождение автомобиля.',
			images: [
				{
					w: 604,
					h: 453,
					src: 'img/Galery/4.jpg',
					mobileSrc: '../img/Galery/4.jpg'
				}
			]
		},
		{
			previewImage: 'img/Galery/5.jpg',
			text: 'Спил с применением автовышки.',
			images: [
				{
					w: 604,
					h: 403,
					src: 'img/Galery/5.jpg',
					mobileSrc: '../img/Galery/5.jpg'
				}
			]
		},
		{
			previewImage: 'img/Galery/6.jpg',
			text: 'Спил ореха Королевского (вышло 5 кубов дров).',
			images: [
				{
					w: 1280,
					h: 960,
					src: 'img/Galery/6.jpg',
					mobileSrc: '../img/Galery/5.jpg'
				}
			]
		}

	];
	//	examples.forEach(x => x.images = JSON.stringify(x.images));
	examples.forEach(x => x.id = ((Math.random()*1e17).toString(16) + '000000000').substr(0, 10));
	console.log(JSON.stringify(examples));
