-
	examples = [
		{
			image: 'img/user.png',
			text: '<b>БОЖЕ!</b> Я ОХЕРЕЛ ПРОСТО КАКОЙ <i>ОХЕРЕННЫЙ</i> СЕРВИС'
		},
		{
			image: 'img/user.png',
			text: '<b>ПИЗДЕЦ КРУТО</b> СДЕЛАЛИ БЫСТРЕЕ ЗВУКА, ИДЕАЛЬНО ВСЕ, Я АЖ <i>ДЖВА ГОДА</i> ЖДАЛ ТАКОГО  СЕРВИСА'
		},
		{
			image: 'img/user.png',
			text: '<b>ААААААААААА</b> ТИПА ОЧЕРЕДНАЯ РЕЧЬ <i>ДОВОЛЬНОГО</i> КЛИЕНТА!!'
		}
	]